/* styles.css */
html {
    scroll-behavior: smooth;
}
body {
    /* background: url("../images/notepad1.jpg")  no-repeat center center;
    background-size: 100% 120%; */
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    height: 100%;
    
}

section {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    padding: 40px; /* Adds space inside the section */
}

section p {
    margin: 0px 0; /* Adds space above and below the paragraph */
    max-width: 800px; /* Limits the width of the paragraph */
    text-align: center; /* Ensures text inside the paragraph is centered */
}

#intro {
    color: #040404;
    font-size: 80px;
    text-align: center;
    display: inline-block;
    overflow: hidden;
}


/* Fade effect (for slideshow) */ 
/* .fade {
    animation: fade 3s ease-in-out infinite;
} */

/* @keyframes fade {
    0% { opacity: 0; }
    20% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; }
}
/*  
#intro {
    display: inline-block; /* Make the container inline for accurate positioning */
    /*overflow: hidden; /* Hide overflow to keep the animation clean */
/*} */

header {
    /* background-size: contain; 
    background-position: center; */
    position: relative;
    /* background-repeat: no-repeat;  */
    height: 200px; /* Set the height of the header */
    color: white; /* Ensure text is readable against the background */
    text-align: center; /* Center the text horizontally */
    display: flex; /* Use flexbox to center content */
    align-items: center;
    flex-direction: column; /* Stack content vertically */
    justify-content: center; /* Center content vertically */
    padding: 0px; /* Optional: add padding around the content */
    gap: 20px; /* Space between the items */

}
.title-container {
    display: flex;
    align-items: baseline;
    gap: 10px; /* Add some space between h1 and h3 */
}

header h1 {
    font-size: 32px; /* Main title size */
    margin: 0; /* Remove default margin */
    flex: 1;
    text-align: center; /* Center text horizontally */}

header h3 {
        font-size: 12px; /* Smaller size for footnote */
        margin: 0; /* Remove default margin */
        display: inline-block;
        vertical-align: baseline;
        color: #040404; /* Optional: color for footnote */
        margin-left: 10px; /* Add some space between h1 and h3 */

    }